<!-- Keywords:Altoro Mutual, careers, opportunities, jobs, management -->
<div class="fl" style="width: 99%;">

<h1>Current Job Openings</h1>

<p>We update our job database daily so that you can find the most up-to-date career opportunities within Altoro Mutual.</p>

<hr /><br />

<table>
	<tr class="cc">
		<td><b>Group</b></td>
		<td><b>Date Posted</b></td>
		<td><b>Title</b></td>
	</tr>
	<tr>
		<td>Administration</td>
		<td>Oct-23-2006</td>
		<td><a href="index.jsp?content=jobs/20061023.htm">Executive Assistant</a></td>
	</tr>
	<tr>
		<td>Consumer Banking</td>
		<td>Oct-19-2006</td>
		<td><a href="index.jsp?content=jobs/20061019.htm">Teller</a></td>
	</tr>
	<tr>
		<td>Customer Service</td>
		<td>Oct-26-2006</td>
		<td><a href="index.jsp?content=jobs/20061026.htm">Customer Service Representative</a></td>
	</tr>
	<tr>
		<td>Marketing</td>
		<td>Oct-25-2006</td>
		<td><a href="index.jsp?content=jobs/20061025.htm">Loyalty Marketing Program Manager</a></td>
	</tr>
	<tr>
		<td>Risk Management</td>
		<td>Oct-17-2006</td>
		<td><a href="index.jsp?content=jobs/20061027.htm">Operational Risk Manager</a></td>
	</tr>
	<tr>
		<td>Sales</td>
		<td>Oct-24-2006</td>
		<td><a href="index.jsp?content=jobs/20061024.htm">Mortgage Lending Account Executive</a></td>
	</tr>
</table>

<br /><hr />

<p>Altoro Mutual and its affiliates recruit and hire qualified candidates without regard to race, religion, color sex, sexual orientation, age, national origin, ancestry, citizenship, veteran or disability status or any factor prohibited by law, and as such affirms in policy and practice to support and promote the concept of equal employment opportunity and affirmative action, in accordance with all applicable federal, state and municipal laws. Candidates must posses the right to work in the United States, as it is not the practice of Altoro Mutual to sponsor individuals for work visas. </p>

</div>